/* normalize */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*<<========< <| GLOBAL |> >========>>*/
:root {
  --primary-color: maroon;
  --accent-primary-color: white;
  --secondry-color: darkgray;
}

body {
  font-family: Montserrat, sans-serif;
  height: 100vh;
  margin-bottom: 10rem;
  margin-right: auto;
  margin-left: auto;
}

.small-red-font {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color, darkred);
}
.medium-red-font {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color, darkred);
}

/* <=| nav bar |=>*/
nav {
  margin: 0;
  padding: 0;
  background: blue;
}

/* <==| page content |==> */
.page__content {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

/* <==| global element |==> */

/* >==> Button <==< */
.btn {
  background-color: var(--primary-color);
  color: var(--accent-primary-color);
  font-weight: bold;
}
/* >==> links <===< */
a {
  text-decoration: none;
  background-color: gray;
}

/*<<========< <| MODULES|> >========>>*/

/*<===< home >======>*/

/*---login---*/
#name
{
  font-size: xx-large;
  color: blueviolet;
}
/*---checkout---*/
